.switch-control-box {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}
.switch-control-box .offline-tip {
  color: #ff7e57;
  font-size: 12px;
  line-height: 12px;
}
.switch-control-box .thumb-bar,
.switch-control-box .thumb-bar-on {
  position: absolute;
  top: 50%;
  left: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: opacity 0.3;
}
.switch-control-box .thumb-bar {
  background-image: url('thumb-bar.svg');
}
.switch-control-box .thumb-bar-on {
  background-image: url('thumb-bar-checked.svg');
}
.switch-control-box .thumb,
.switch-control-box .thumb-on {
  position: absolute;
  top: 4%;
  right: 50%;
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  transition: right 0.3s, opacity 0.1s;
}
.switch-control-box .thumb {
  background-image: url('thumb.svg');
}
.switch-control-box .thumb-on {
  background-image: url('thumb-checked.svg');
}
.switch-control-box .thumb-label,
.switch-control-box .thumb-label-on {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 50%;
  color: #b7b5b5;
  font-weight: 600;
  user-select: none;
  transition: opacity 0.3;
}
.switch-control-box .thumb-label-on {
  color: #ff7e57;
  text-shadow: #ff6e4a 1px 1px 10px, #ffd1c3 1px 1px 10px;
}
.switch-control-box .hidden {
  opacity: 0;
}
.switch-control-box .right-thumb {
  right: 0;
}
