.knob-control-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 107px;
  height: 107px;
  overflow: hidden;
  transform: translate(-50%, -50%);
}
.knob-control-box .knob-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  user-select: none;
}
.knob-control-box .knob-bg img {
  display: block;
  width: 100%;
  height: 100%;
}
.knob-control-box .knob-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  user-select: none;
}
.knob-control-box .knob-pointer-box {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 100%;
  user-select: none;
}
.knob-control-box .knob-pointer-box .knob-pointer {
  position: absolute;
  top: 50%;
  left: 22%;
  width: 5%;
  height: 5%;
  margin-top: -2.5%;
  background-color: #b5b5b5;
  border-radius: 50%;
  box-shadow: 1px 0 2px #040404;
  user-select: none;
  cursor: pointer;
}
.knob-control-box .knob-value {
  position: absolute;
  display: flex;
  top: 35%;
  right: 35%;
  bottom: 35%;
  left: 35%;
  z-index: 2;
  align-items: center;
  justify-content: center;
  font-size: 900;
  user-select: none;
}
.knob-control-box .minmaxlabel {
  position: absolute;
  display: flex;
  right: 20%;
  bottom: 15%;
  left: 20%;
  justify-content: space-between;
  z-index: 4;
  height: 4%;
  user-select: none;
}
.knob-control-box .knob-title {
  position: absolute;
  right: 20%;
  bottom: 2%;
  left: 20%;
  z-index: 4;
  height: 6.6%;
  text-align: center;
  user-select: none;
}
.knob-control-box .konb-error {
  color: red;
  position: absolute;
  z-index: 2;
  width: 100%;
  text-align: 10%;
  top: 10%;
  text-align: center;
  pointer-events: none;
}
